In [20]:
import pandas as pd
import numpy as np
url="https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv"
df=pd.read_csv(url)
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df2 = df
print('Remove rows where every single data is missing.')
df3 = df2.dropna(axis=0, how='all')
df3

Remove rows where every single data is missing.

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [22]:
print('Delete duplicates.')
df4 = df3.copy()
colsToCheck = ['full_name', 'first_name', 'last_name', 'email', 'gender', 'age']
df4.drop_duplicates(colsToCheck,keep = 'first', inplace = True)
df4

Delete duplicates.

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [23]:
print('check missing data in id.')
df4['id'].isnull().sum()

check missing data in id.

1

In [24]:
print('check missing data in full_name.')
df4['full_name'].isnull().sum()

check missing data in full_name.

0

In [25]:
print('check missing data in first_name.')
df4['first_name'].isnull().sum()

check missing data in first_name.

0

In [26]:
print('check missing data in last_name.')
df4['last_name'].isnull().sum()

check missing data in last_name.

0

In [27]:
print('check missing data in email.')
df4['email'].isnull().sum()

check missing data in email.

1

In [28]:
print('check missing data in gender.')
df4['gender'].isnull().sum()

check missing data in gender.

1

In [29]:
print('check missing data in age.')
df4['age'].isnull().sum()

check missing data in age.

0

In [30]:
print('set missing id, mail and gender data.')
values = {'id': 0.0, 'email': 'missingMail@test.de', 'gender': 'Male'}
df5 = df4.fillna(value=values)
df5

set missing id, mail and gender data.

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,missingMail@test.de,Female,45
21,0.0,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [31]:
df6 = df5
colToChange = ['id']
df6['id'] = df6[colToChange].applymap(np.int64)
df6

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21,Kerianne Goacher,Kerianne,Goacher,missingMail@test.de,Female,45
21,0,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [32]:
id = df6.iloc[0,0]
i = 0
for index, row in df6.iterrows():
    df6.iloc[i,0] = id
    id += 1 
    i += 1 
df6

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,17,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,18,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,19,Kerianne Goacher,Kerianne,Goacher,missingMail@test.de,Female,45
21,20,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [33]:
print('try to change data type of age into integers (error incoming).')
colToChange = ['age']
df6['age'] = df6[colToChange].applymap(np.int64)

try to change data type of age into integers (error incoming).

ValueError: invalid literal for int() with base 10: 'old'

In [34]:
print('ValueError: invalid literal for int() with base 10: "old"')
print('change old into an age of 78')
rowId = 10 - 1 
colId = df6.columns.get_loc("age")
df6.iloc[rowId, colId] = 78
df6

ValueError: invalid literal for int() with base 10: "old"
change old into an age of 78

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,78
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,17,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,18,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,19,Kerianne Goacher,Kerianne,Goacher,missingMail@test.de,Female,45
21,20,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [35]:
print('try changing the datatype again.')
colToChange = ['age']
df6['age'] = df6[colToChange].applymap(np.int64)
df6

try changing the datatype again.

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,78
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,17,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,18,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,19,Kerianne Goacher,Kerianne,Goacher,missingMail@test.de,Female,45
21,20,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [36]:
print("let's correct another invalid value: age = -78.")
df6.iloc[16, colId] = 78
df6

let's correct another invalid value: age = -78.

,id,full_name,first_name,last_name,email,gender,age
0,1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,Male,77
6,7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,78
10,11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,17,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,78
19,18,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,19,Kerianne Goacher,Kerianne,Goacher,missingMail@test.de,Female,45
21,20,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72